// Specific CSS for your home-page


body {
  background-color: #fff;

}

html{
  scroll-behavior:smooth;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
h2{
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
h3, h4, h5{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

}

p{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 200;
}

a {
  text-decoration: none !important;
  outline: 0 !important;
}

button{
  text-decoration: none !important;
  outline: 0 !important;
}

// input{
//   text-decoration: none !important;
//   outline: 0 !important;
//   border: none;
//   box-shadow: 0;
// }
