<section id="contact" class="section-contact">
  <div class="title-contact">
    <div class="reveal-holder">
      <div class="reveal-block right" data-aos="reveal-right"></div>
        <h1>Contact <strong>.</strong></h1>
    </div>
  </div>
  <div class="sub-contact">
    <p>Besoin d'un devis, discuter de vos projets? N'hésitez pas à me contacter !</p>
  </div>

  <div class="row form-and-contact">
    <div class="col-lg-6 form-contact">
      <form id="my-form" action="https://formspree.io/xqkyqqro" method="POST">
        <div class="row row-contact">
          <div class="col-lg-6 contact-item">
            <div class="form-group">
              <input type="text" name="NOM" class="form-control information" placeholder="Nom/Prénom*" id="name" data-validation-required-message="Veuillez entrer votre NOM svp">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <input type="email" name="Email" class="form-control information" placeholder="Email*" id="email" data-validation-required-message="Veuillez entrer votre EMAIL svp">
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <input type="text" name="Objet" class="form-control information" placeholder="Objet*" id="object" data-validation-required-message="Veuillez entrer un OBJET svp"/>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <textarea type="text" name="Message" class="form-control message" placeholder="Message*" id="message" data-validation-required-message="Veuillez entrer un MESSAGE svp"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center btn-contact">
          <%= render"shared/send" %>
          <!-- <button id="my-form-button">Envoyer</button> -->
          <p id="my-form-status"></p>
        </div>
      </form>
    </div>

    <div class="col-lg-4 info-contact">
      <div class="num-contact">
        <%= image_tag('phone.png', class:"img-phone") %>
        <p class="number">0696 40 92 03</p>
      </div>
      <div class="email-contact">
        <%= image_tag('email.png', class:"img-email") %>
        <p class="email">dibelairvideo@gmail.com</p>
      </div>
    </div>
  </div>
</section>



<!--
<form id="my-form" action="https://formspree.io/xqkyqqro" method="POST">
   <label>Name</label>
  <input type="email" name="email"/>
   <label>Email</label>
  <input type="email" name="email"/>

  <label>Objet</label>
  <input type="email" name="email"/>
  <label>Message</label>
  <input type="text" name="message"/>
  <button id="my-form-button">Submit</button>
  <p id="my-form-status"></p>
</form>

 -->

