<section class="section-folio">
  <h1 class="title-folio">RÉALISATIONS</h1>
  <p class="p-folio">Quelques exemples de nos réalisations à découvrir</p>
  <div class="options">
    <% @categories.each do |cat| %>
        <div class="option" style="--optionBackground:url(<%= cat.photo %>);">
          <div class="shadow"></div>
          <div class="label">
            <!-- <div class="icon">
              <%#= image_tag('search (1).png', class:"search") %>
             </div> -->
             <div class="info">
              <%= link_to category_path(cat), class:"link-card" do  %>
                <div class="main"><%= cat.name %></div>
              <% end %>
                <div class="sub">Omuke trughte a otufta</div>
             </div>
          </div>
        </div>
    <% end %>
  </div>
</section>
