
<section class="section-folio">
  <h1 class="title-folio">PORTFOLIO</h1>
  <div class="container-folio">
    <div class="row">
      <% @categories.each do |cat| %>
        <div class="col-lg-4">
          <div class="gallery">
            <div class="gallery-item">
              <div class="gallery-title">
                <h3 class="title"><%= cat.name %></h3>
              </div>
              <%= image_tag cat.photo, class: "gallery-img" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



</section>
