
<footer id="footer">
  <div class="footer-icon">
    <div class="icondiv">
      <%= image_tag'youtube.png',class: "icon" %>
    </div>
    <div class="icondiv">
      <%= image_tag'instagram.png',class: "icon" %>
    </div>
    <div class="icondiv">
      <%= image_tag'facebook.png',class: "icon" %>
    </div>
    <div class="icondiv">
      <%= image_tag'tik-tok.png',class: "icon" %>
    </div>
  </div>
</footer>
