
<nav id="navMenu" class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top">

          <div class="navbar-header">
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag 'logo-blanc.png', class: "nav-logo"%>
            <% end %>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="list-nav">
              <li><a href="#tab-es6" class="effect-underline">Accueil</a></li>
              <li><a href="#tab-services" class="effect-underline">Services</a></li>
              <li><a href="#tab-profil" class="effect-underline">À propos</a></li>
              <!-- <li><a href="#tab-react" class="effect-underline">Outils</a></li> -->
              <li><a href="#tab-folio" class="effect-underline">Portfolio</a></li>
              <li><a href="#tab-other" class="effect-underline">Contact</a></li>
            </ul>
          </div>
          <div class="menu-burger">
          <a id="dotsMenu" class="btn menu" data-target="#modalNavigation" data-toggle="modal">
        <%#= image_tag 'menu (1).png', class: "open-menu"%>
      </a>
    </div>

</nav>
