// @media(min-width: 1025px){
  .section-about{
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-about{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
  }

  .title-about{
    margin-bottom: 30px;

    .reveal-holder {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
    .reveal-block {
      position: absolute;
      top: 0;
      width: 100%;
      height: 101%;
      background: white;
    }
    .reveal-block::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f3d9dc;
      transition-property: transform;
      transition-duration: 0.5s;
    }

    .reveal-block.right::before {
      transform: scaleX(0);
      transform-origin: 0% 100%;
    }
    .reveal-block.right.aos-animate::before {
      transform: scaleX(1);
    }

    [data-aos="reveal-right"] {
      transform: scaleX(1);
      transform-origin: 100% 0%;
      transition-property: transform;
      transition-delay: 0.5s;
    }

    [data-aos="reveal-right"].aos-animate {
      transform: scaleX(0);
    }
  }
// }

  .row-about{
    width: 100vw;
  }

  strong{
    color:#f3d9dc;
  }
  .about-txt{
    margin: 0 auto;
    text-align: center;
    width: 67%;
    padding-top: 70px;

    p.p-contact{
      font-size: 20px;
    }
  }

  .img-about{
    width: 35em;
    // max-width: 100%;
    margin-bottom: 15px;
  }
  .about-img{
    display: flex;
    justify-content: flex-start;
  }

  .col-about{
    padding: 0;
  }



@media(max-width: 320px){

  .section-about{
    padding-bottom: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-about{
    margin-bottom: 0px;
  }

  .img-about{
    width: 15em;
    margin-bottom: 15px;
  }

  .about-txt{
    // margin: 0 auto;
    text-align: center;
    width: 67%;
    padding-top: 25px;
    padding-left: 16px;


    p.p-contact{
      font-size: 12px;
    }
  }


  .about-content{
    padding: 0;
  }
}

@media(max-width: 540px){
   .section-about{
    padding-bottom: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-about{
    margin-bottom: 0px;
  }

  .img-about{
    width: 19em;
    margin-bottom: 15px;
  }

  .about-txt{
    // margin: 0 auto;
    text-align: center;
    width: 67%;
    padding-top: 25px;
    padding-left: 16px;

    p.p-contact{
      font-size: 15px;
    }
  }

  .about-content{
    padding: 0;
  }
}

@media(max-width: 768px){
  .section-about{
    padding-bottom: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-about{
    margin-bottom: 0px;
  }

  .img-about{
    width: 24em;
    margin-bottom: 15px;
  }

  .about-txt{
    margin: 0;
    text-align: center;
    width: 100%;
    padding-top: 77px;
    padding-left: 16px;

    p.p-contact{
      font-size: 15px;
    }
  }

  .about-content{
    padding: 0;
  }
}

@media(max-width: 1024px){

  .section-about{
    padding-bottom: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-about{
    margin-bottom: 0px;
  }

  .img-about{
    width: 22em;
    margin-bottom: 15px;
  }

  .about-txt{
    margin: 0;
    text-align: center;
    width: 100%;
    padding-top: 77px;
    padding-left: 16px;

    p.p-contact{
      font-size: 18px;
      padding-right: 28px;
    }
  }

  .about-content{
    padding: 0;
  }
}
