@media(min-width: 1025px){
  .section-contact{
    padding-top: 100px;
    padding-bottom:100px;

    .title-contact{
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    .sub-contact{
      text-align: center;
      margin-bottom: 90px;
    }

    .form-and-contact {
      margin: 0;

      .form-contact{
        margin: 0 auto;

        form {
          .form-control {
            border-radius: 5px;

            &::placeholder {
              color: rgba(189, 190, 191, 0.9);
            }
          }

          p#my-form-status {
            font-weight: 900;
            color: red;
            font-size: 36px;
          }

          .btn-contact{
            margin: 0 auto;
          }
        }
      }
      .num-contact{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 30px;
        .img-phone{
          padding-right: 5px;

        }
        .number{
          margin:0;
        }
      }
      .email-contact{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .img-email{
          padding-right: 5px;
        }
        .email{
          margin:0;
        }
      }
    }
  }
}


@media(max-width: 320px){
  .info-contact{
    padding-top: 20px;
  }

  .img-phone{
    width: 29px;
  }

  .number{
    font-size: 14px;
  }

  .img-email{
    width: 29px;
  }

  .email{
    font-size: 14px;
  }
}


@media(max-width: 540px){
  .info-contact{
    padding-top: 20px;
  }

  .img-phone{
    width: 36px;
  }

  .number{
    font-size: 14px;
  }

  .img-email{
    width: 36px;
  }

  .email{
    font-size: 14px;
  }
}

@media(max-width: 768px){
  .info-contact{
    padding-top: 20px;
  }

  .section-contact
  .form-and-contact
  .num-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    .img-phone{
      padding-right: 5px;
    }
    .number{
      margin:0;
    }
  }
  .section-contact
  .form-and-contact
  .email-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    .img-email{
      padding-right: 5px;
    }
    .email{
      margin:0;
    }
  }
}
