.section-folio {
  height: 100vh;
}


.gallery-card:hover {

}

.gallery-card {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  flex: 1 0 24rem;
  margin: 0.5rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  // overflow: hidden;
  height: 350px;
  display: flex;
  object-fit: cover;
}



.gallery-title{
  // transition: transform 400ms ease-out;
  transition: all .5s;

}
.gallery-title:hover{
  transform: scale(1.3);
}
