.section-folio {
  padding-top: 100px;

  .title-folio{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .container-folio{
    margin: 0 auto;

    .gallery{
      margin: 0 auto;

      .gallery-card{
        height:300px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .title-card{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          text-align: center;
          z-index: 1;
          transition: all .5s ease-in;

          h3{
            color: white;
            font-weight: 600;
            text-shadow: 1px 1px 2px black;

          }
        }

      }
    }
  }
}
        img.gallery-img {
          object-fit: cover;

          transition: transform 400ms ease-out;
        }

.gallery-img:hover{
  transform: scale(1.15);
}

// .gallery-card:hover{
//   .title-card{
//     background-color: #eee;
//     width: 270px;
//     height: 100px;
//   }
// }

