#footer{
  background-color: $primary;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 auto;
  .title-footer{

  }
  .footer-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icondiv{
      padding: 25px;

      .icon{
        width: 30px;
      }
    }
  }
}

.rights-content{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;

  p{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
}
