#footer{
  background-color: $primary;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0 auto;
  .title-footer{

  }
  .footer-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icondiv{
      padding: 25px;
      transition: transform .5s;
      .icon{
        width: 30px;
      }
    }
  }
}

.icondiv:hover{
  transform: scale(1.5);
  transition: transform .5s;

}

.rights-content{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;

  p{
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
}



@media(max-width: 1024px){
  #footer{
    background-color: $primary;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    .title-footer{
      h1{
        font-size: 28px;
      }
    }
    .footer-icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icondiv{
        padding: 6px;

        .icon{
          width: 30px;
        }
      }
    }
  }

  .rights-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;

    p{
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      margin: 0;
    }
  }
}


@media(max-width: 768px){
  #footer{
    background-color: $primary;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    .title-footer{
      h1{
        font-size: 28px;
      }
    }
    .footer-icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icondiv{
        padding: 20px;

        .icon{
          width: 30px;
        }
      }
    }
  }

  .rights-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;

    p{
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      margin: 0;
    }
  }
}


@media(max-width: 540px){
  #footer{
    background-color: $primary;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    .title-footer{
      h1{
        font-size: 28px;
      }
    }
    .footer-icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icondiv{
        padding: 6px;

        .icon{
          width: 30px;
        }
      }
    }
  }

  .rights-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;

    p{
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      margin: 0;
    }
  }
}



@media(max-width: 320px){
  #footer{
    background-color: $primary;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0 auto;
    .title-footer{
      h1{
        font-size: 23px;
      }
    }
    .footer-icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icondiv{
        padding: 6px;

        .icon{
          width: 30px;
        }
      }
    }
  }

  .rights-content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;

    p{
      font-size: 12px;
      font-family: "Roboto", sans-serif;
      margin: 0;
    }
  }
}





