
@media(min-width: 1025px){
  // header{

  // }

  .header-section{
    background-image: image_url('img4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 4s ease;

    .title-header{
      padding-top: 360px;
      color: #fff;
      text-align: center;
      text-shadow: 5px 3px 8px black;
    }

    .title-brand h2{
      padding-bottom:260px;
      color: #fff;
      text-shadow: 5px 3px 8px black;
      text-transform: uppercase;

    }
  }
  .header-section:hover{
    transform: scale(1.2);
  }
}


@media(max-width: 320px) {

  .header-section{
    .title-header{
      padding-top: 273px;
      font-size: 26px
    }
    .title-brand h2{
      padding-bottom:260px;
      font-size: 20px;
      color: #fff;
      text-shadow: 5px 3px 8px black;
      text-transform: uppercase;
    }
  }
}

// faire medias 540px///////



@media(max-width: 768px){

  .header-section{
    .title-header{
      padding-top: 460px;
      font-size: 36px
    }
    .title-brand h2{
      padding-bottom:260px;
      font-size: 30px;
      color: #fff;
      text-shadow: 5px 3px 8px black;
      text-transform: uppercase;
    }
  }
}

@media(max-width: 1024px){
  .header-section{
    .title-header{
      padding-top: 590px;
      font-size: 36px
    }
    .title-brand h2{
      padding-bottom:260px;
      font-size: 30px;
      color: #fff;
      text-shadow: 5px 3px 8px black;
      text-transform: uppercase;
    }
  }
}
