.section-movies{
 background-image:linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), image_url('logocarnationcc.png');
}

.categorie-title{
  text-align: center;
  padding-top: 190px;
  padding-bottom: 140px;
}
.container-movie{
  margin:0 auto;
}

.col-movie{
  text-align: center;
  padding: 0px;
  // width: 100vw;
  margin-bottom: 100px;
}

.row-movie{
  width: 100vw;
  margin: 0 auto;
}

iframe{
  width: 50%;
  height:410px;
}


@media(max-width: 768px){
  iframe{
    width: 67%;
    height:420px;
  }
}

@media(max-width: 540px){
  iframe{
    width: 80%;
    height:350px;
  }
}

@media(max-width: 320px){
  iframe{
    width: 80%;
    height: 230px;
  }
}
