.section-movies{
 background-image:linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), image_url('logocarnationcc.png');
}

.categorie-title{
  text-align: center;
  padding-top: 190px;
  padding-bottom: 140px;
}
.container-movie{
  margin:0 auto;
}

.col-movie{
  text-align: center;
  padding-bottom: 70px;
}

