


// MENU BURGER

#modalNavigation {
  background-color: rgb(255, 255, 255); // BG DU MENU

  .logo {
    letter-spacing: 10px;
  }

  .logo-modal img {
    transition: all 0.26s ease;
    padding-bottom: 1rem;
  }

  .list-group-item {
    border: transparent 0 solid;
    background-color: transparent;
  }
}

// // MENU DOTS

$pix-size: 6px; // <---- Definir la taille du menu

@media (min-width: 769px) {
  .menu-burger {
    display: none
  }
}

@media (min-width: 767px) {
  #dotsMenu {
    display: none;
    cursor: pointer;
    font-size: 20px;
    width: 76px;
    height: 51px;
    padding: 0;
    top: 3px;
    right: -9px;

    // img.open-menu {
    //   width: 42px;
    // }
  }
}

@media (max-width: 767px) {
  #dotsMenu {
    display: none;
    cursor: pointer;
    font-size: 20px;
    width: 76px;
    height: 51px;
    padding: 0;
    top: 7px;
    right: -9px;

    img.open-menu {
      width: 32px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #dotsMenu {
    display: block;
  }
}

@media (max-width: 768px) {
  // a.logout {
  //   position: fixed;
  //   width: 76px;
  //   height: 51px;
  //   padding: 0;
  //   top: 41px;
  //   left: 31px;

  //   button.btn-sign-out {
  //     img.nav-logout {
  //       width: 45px;
  //     }
  //   }
  // }

  #dotsMenuClose {
    position: fixed;
    width: 76px;
    height: 51px;
    padding: 0;
    top: 42px;
    right: 31px;


    img.close-menu {
      width: 42px;
    }
  }
}

@media (max-width: 321px) {
  // a.logout {
  //   position: fixed;
  //   width: 76px;
  //   height: 51px;
  //   padding: 0;
  //   top: 13px;
  //   left: 31px;

  //   button.btn-sign-out {
  //     img.nav-logout {
  //       width: 34px;
  //     }
  //   }
  // }

  #dotsMenuClose {
    position: fixed;
    width: 76px;
    height: 51px;
    padding: 0;
    top: 15px;
    right: 31px;


    img.close-menu {
      width: 32px;
    }
  }
}

.menu {
  position: relative;
  display: block;
  width: ($pix-size*7);
  height: ($pix-size*7);
  z-index: 1000;
  top: -3px;


  a {
    margin: 0;
    padding: 0;

  }
}

#dotsMenu .pix {
  display: block;
}



// NAV ALICE



.navbar {
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav {
  list-style: none;

}

.nav-logo{
  width: 100px;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Solid class attached on scroll past first section */



.navbar-custom .navbar-brand {
  // font-family: 'Montserrat', sans-serif;
  // font-weight: bold;
  // color: #FFF;
  margin-top: 0;

}

.navbar-brand {
  // float: left;
  // padding: 5px 50px;
  // font-size: 18px;
  // line-height: 20px;


  &:hover  {
    // color: #6f1f13 !important;
    // color: black !important;
  }
  .img-brand{
    width: 40%;
    margin-top: 8%;

  }
}


.collapse {
  margin-right: 25px;
}

.list-nav {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;


  li {
    display: inline;

    a {
      margin: 0 0 0 30px;
      font-size: 12px;
      color: white;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      position: relative;

      &:hover{
        // color: #6f1f13;
        color: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
      }

      // &:after {
      //   background: none repeat scroll 0 0 transparent;
      //   bottom: 0;
      //   content: "";
      //   display: block;
      //   height: 2px;
      //   left: 50%;
      //   position: absolute;
      //   background: #fff;
      //   width: 0;
      //   margin-bottom: -5px;
      // }
    }
  }
}


a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;

  -webkit-transform: scale(1);
  transform: scale(1);
}


.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 20px 50px;
  transition:
  padding 0.5s ease;
  text-transform: uppercase;
  height: 55px;
  border: none;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s ease 0s;


  &.solid-nav {
    background-color: #f5f5f5;
    border-bottom: 1px solid #91999d;
    padding: 5px 50px;
    transition:
      background-color 0.5s ease,
      padding 0.5s ease;
        a.navbar-brand{
          display: none;

        }
      li {
          a{
          color: black;

          &:hover{
//  ADD HOVER ON NAV LIST ITEM WHEN SOLID <<<<-----------
          }
        }
      }
  }
}


.menu-burger{
  position: absolute;
}


