.container-new{
  padding-top: 100px;
  width: 100vw;
}

.title-new{
  text-align: center;
}

.form-new{
  margin: 0 auto;
  width: 50%;
}


.btn-new{
  display: flex;
  margin: 0 auto;
  background-color: $primary;
  border-radius: 5px;
}
