// @media(min-width: 1025px){
  .title-div{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .sub-services{
      margin-top: 70px;
    }
    .reveal-holder {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
    .reveal-block {
      position: absolute;
      top: 0;
      width: 100%;
      height: 101%;
      background: white;
    }
    .reveal-block::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f3d9dc;
      transition-property: transform;
      transition-duration: 0.5s;
    }

    .reveal-block.right::before {
      transform: scaleX(0);
      transform-origin: 0% 100%;
    }
    .reveal-block.right.aos-animate::before {
      transform: scaleX(1);
    }

    [data-aos="reveal-right"] {
      transform: scaleX(1);
      transform-origin: 100% 0%;
      transition-property: transform;
      transition-delay: 0.5s;
    }

    [data-aos="reveal-right"].aos-animate {
      transform: scaleX(0);
    }
  }

  .section-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    background-color: #fff;


    .container-services{
      width: 100%;
      margin: 0 auto;

      .content-services{
        width: 80%;
        margin: 0 auto;
        padding-top: 55px;
        padding-bottom: 100px;

        .col-serve{
          border-bottom: 2px solid rgba(243, 217, 220, 1);
          transition: all 1s ease;
        }

        .col-serve-btm{
          padding-top: 20px;
          transition: all 1s ease;
        }

        .line{
          border-left: 2px solid rgba(243, 217, 220, 1);
        }

        .icon-box{
          display: flex;
          justify-content: center;
          align-items: center;

          .icon{
            width: 60px;
            height:60px;
          }
        }
        .content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align:center;
          padding: 10px;
          margin-bottom:20px;
          margin-top: 40px;
        }
      }
      .ps{
        text-align: center;
        font-style: italic;
        padding-bottom: 40px;
      }
    }
  }
// }


@media(max-width: 320px){
  .title-div{
    padding-left: 10px;
    padding-right: 10px;
    .title-services{
      padding-bottom: 30px;
    }
  }

  .section-services{
    .container-services{
      .content-services{
        padding-top: 14px;

        .col-serve{
          border-bottom: 0 !important;
        }

        .line{
          border-left: 0 !important;
        }
      }
    }
  }

  .ps{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 540px){
  .title-div{
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-services{
    .container-services{
      .content-services{
        padding-top: 14px;

        .col-serve{
          border-bottom: 0 !important;
        }

        .line{
          border-left: 0 !important;
        }
      }
    }
  }

  .ps{
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media(max-width: 768px){

  .title-div{
    padding-left: 10px;
    padding-right: 10px;
    height: 30vh;
    .title-services{
      padding-bottom: 30px;
    }
  }

  .section-services{
    .container-services{
      .content-services{
        padding-top: 14px;

        .col-serve{
          // border-bottom: 0 !important;
        }

        .line{
          // border-left: 0 !important;
        }
      }
    }
  }

  .ps{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 1024px){
   .title-div{
    padding-left: 10px;
    padding-right: 10px;
    height: 22vh;
    .title-services{
      padding-bottom: 30px;
    }
  }

  .section-services{
    .container-services{
      .content-services{
        padding-top: 14px;

        .col-serve{
          // border-bottom: 0 !important;
        }

        .line{
          // border-left: 0 !important;
        }
      }
    }
  }

  .ps{
    padding-left: 10px;
    padding-right: 10px;
  }
}
