<%= render "shared/navbar" %>
<!-- <div class="categorie"> -->
  <section id="movies" class="section-movies">
    <div class="categorie-title">
      <h1><%=@category.name %></h1>
    </div>
  <!-- </div> -->
  <div class="container-movie">
    <div class="card-movie">
      <div class="content-movie">
        <div class="row row-movie">
          <% @movies.each do |movie| %>
            <div class="col-12 col-md-6 col-movie">
              <iframe width="560" height="315" src= "<%= movie.yt_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3><%= movie.name %></h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>



